* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #202027;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  position: relative;
  height: 710px;
  background-color: #E1FF8F;
  background-image: url(../img/bigstar.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.link {
  text-decoration: none;
  color: inherit;
}

.top__decor {
  position: absolute;
  z-index: 1;
}

.top__decor--1 {
  top: 0;
  right: 0;
}

.top__decor--2 {
  top: 94px;
  left: 63px;
}

.top__decor--3 {
  top: 69px;
  left: 156px;
}

.top__decor--4 {
  bottom: 149px;
  right: 344px;
}

.top__decor--5 {
  bottom: 225px;
  right: 455px;
}

.top__decor--6 {
  bottom: 225px;
  right: 45px;
}

.top__decor--7 {
  bottom: 225px;
  right: 455px;
}

.top__decor--8 {
  bottom: 65px;
  right: 52px;
}

.top__decor--9 {
  bottom: 225px;
  right: 455px;
}

.top__decor--10 {
  bottom: 45px;
  right: 150px;
}

.top__decor--11 {
  top: 770px;
  left: 25px;
}

.top__decor--12 {
  top: 822px;
  left: 40px;
}

.top-header {
  padding-top: 196px;
  margin-bottom: 156px;
  width: 769px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.top-header__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  margin-bottom: 24px;
}
.top-header__phras {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 24px;
}
.top-header__phras--bold {
  font-weight: 600;
}

.button {
  font-family: inherit;
  background-color: #202027;
  border-radius: 60px;
  padding: 16px 65px;
  border: 1px solid #202027;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 1px;
  margin-top: 24px;
}
.button:hover {
  background-color: #FFFFFF;
  color: #202027;
}

.top-nav {
  display: flex;
  -moz-column-gap: 51px;
       column-gap: 51px;
  background-color: #BCEC30;
  height: 90px;
  align-items: center;
  padding: 0 49px;
  overflow-x: hidden;
}
.top-nav__games {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1px;
  white-space: nowrap;
  text-decoration: none;
}
.top-nav__star {
  width: 36px;
}

.middle {
  background-image: url(../img/GroupStar.png);
  background-repeat: no-repeat;
  background-position: top 77px center;
  background-color: #202027;
  padding-bottom: 144px;
  padding-top: 94px;
}

.game-group__title {
  color: #FFFFFF;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}
.game-group__title--margin {
  margin-top: 94px;
}
.game-group__phras {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 24px;
}

.game-collection {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.game {
  /* position: absolute;
  top: 0;
  left: 0;*/
  text-decoration: none;
}
.game__item {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: #fff;
  width: 378px;
  position: relative;
  /* height: 100%;*/
}
.game__item--long {
  margin-top: -39px;
}
.game__item-img {
  border-radius: 30px;
}
.game__item-name {
  color: #000000;
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
}
.game__item-botton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  padding: 32px 32px 36px 32px;
}
.game__item-number {
  background-color: #F7F7F7;
  color: #000000;
  line-height: 18px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
  padding: 8px 16px 10px 16px;
}

.game-box {
  display: flex;
  background-color: #fff;
  border-radius: 30px;
  justify-content: space-between;
  width: 100%;
}
.game-box__half {
  padding: 48px;
  width: 50%;
}
.game-box__name {
  color: #000000;
  line-height: 59px;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 24px;
}
.game-box__phras {
  color: #000000;
  line-height: 32px;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 12px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #BDED35;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
}

/*.game__item--short {
    height: 473px;
}*/
@media (max-width: 639px) {
  .top {
    height: 649px;
    background-image: url(../img/bigstarmini.png);
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top-header {
    padding-top: 147px;
    padding-left: 40px;
    margin-bottom: 131px;
    width: calc(100% - 80px);
    align-items: center;
  }
  .top-header__title {
    font-size: 40px;
    line-height: 49px;
    text-align: center;
  }
  .top-header__phras {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .button {
    width: 100%;
    font-size: 16px;
    line-height: 23px;
    margin-top: 12px;
  }
  .button--header {
    width: 285px;
  }
  .top-nav {
    -moz-column-gap: 28px;
         column-gap: 28px;
    height: 51px;
    padding: 0 24px;
  }
  .top-nav__games {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 4%;
  }
  .top-nav__star {
    width: 20px;
  }
  .about {
    display: none;
  }
  .middle {
    padding-top: 48px;
    padding-bottom: 49px;
  }
  .game-collection {
    margin-top: 48px;
  }
  .game-group__title {
    font-size: 40px;
    line-height: 49px;
  }
  .game-group__title--margin {
    margin: 0;
  }
  .game-box__name {
    line-height: 39px;
    font-size: 32px;
    margin-bottom: 16px;
  }
  .game-box__phras {
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 8px;
  }
  .game-box__half {
    padding: 29px;
    width: calc(100% - 58px);
  }
  .game-box {
    flex-direction: column-reverse;
  }
  .game-box:nth-child(2n) {
    flex-direction: column;
  }
  .top__decor--2 {
    width: 35px;
    top: 97px;
    left: 37px;
  }
  .top__decor--3 {
    width: 21px;
    top: 64px;
    left: 91px;
  }
  .top__decor--4 {
    width: 40px;
    bottom: 28px;
    right: 34px;
  }
  .top__decor--5 {
    width: 18px;
    bottom: 74px;
    right: 86px;
  }
  .bottom {
    font-size: 16px;
    line-height: 20px;
    height: 100px;
  }
}/*# sourceMappingURL=style.css.map */